<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateTablef() {
        $.getJSON('/update_datafa', function(response) {
            var tableBody = $('#table-bodyf');

            // Clear existing table rows
            tableBody.empty();

            // Iterate over data and add rows to the table
            $.each(response.data, function(index, item) {
                var row = $('<tr>');
                    row.append($('<td>').text(item.fail));
                    row.append($('<td>').text(item.date));
                    row.append($('<td>').text(item.est));
                    row.append($('<td>').text(item.tr));
                        
                tableBody.append(row);
            });
        });
    }

    // Update the table initially and then set an interval for subsequent updates
    updateTablef();
    setInterval(updateTablef, 5000); // Update every 5 seconds
</script>


{% extends './base.html' %} 

{% block title %} REPORTE {% endblock %}

{% block body %} 

<div class="row text-center">
    <div class="text-dark">
        <hr class="border border-dark border-3 opacity-75">
        <h3>TESLA YKM - Historial de anomalías </h3>
        <hr class="border border-dark border-3 opacity-75">
      </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class ="table-dark">
                <tr>
                    <th>Falla</th>
                    <th>Fecha</th>
                    <th>Estacion</th>
                    <th>Tiempo</th>

                </tr>
            </thead>
            <tbody id="table-bodyf"></tbody>
            </table>
        </div>
    </div>

{% endblock %}